In [1]:
import math

In [2]:
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [3]:
for i in {"apple","banana","potato",1,2,3}:
    print(i)

apple
potato
2
3
1
banana

In [4]:
for i in 5:
    print(5)

TypeError: 'int' object is not iterable

In [5]:
#iterable 
#an itrable is any python object str / data structure that is capable of returning 
#its member one at a time
#permitting it to be iterated over in a for loop
#example > list,tuples

In [6]:
lis = [1,2,3] #list is iterable 
for i in lis:
    print(i)

1
2
3

In [7]:
for i in 6:
    print(i)

TypeError: 'int' object is not iterable

In [8]:
#iteration >>
#processs of looping through the elements for an iterable (list,tuple , string)
#using a loop 
#the process of returning element one by one iteration

In [9]:
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [ ]:
#iterator >> an iterator is an object represeneting a steam of data >>return the data one ofter another

#anlogy
#potato(iterable)>> it can not be cooked it original form 
#chop/wash the potato >> ready for cooking >> iterator
#the process of cooking >> iteration